.ExpensesList {
    .filter-section {
      margin-bottom: 20px;
      .form-control {
        width: 100%;
      }
    }
    
    .expense-list {
      display: flex;
      flex-wrap: wrap;
    }
  
    .receipt-wrapper {
      position: relative;
      margin: 20px 0;
  
      .pin {
        position: absolute;
        top: -20px; 
        left: 50%;
        transform: translateX(-20%);
        width: 50px; 
        height: 50px;
       background: url('https://publicdomainvectors.org/tn_img/cyberscooty-safety-pin.webp') no-repeat center center;
        background-size: contain;
      }
  
      .receipt {
        background: #fff;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 300px;
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  
        .receipt-header {
          border-bottom: 1px dashed #ddd;
          padding-bottom: 10px;
          margin-bottom: 10px;
  
          .receipt-title {
            font-size: 1.2rem;
            font-weight: bold;
            margin: 0;
          }
        }
  
        .receipt-body {
          flex-grow: 1;
  
          .receipt-row {
            display: flex;
            justify-content: space-between;
            padding: 5px 0;
            border-bottom: 1px dashed #ddd;
  
            &:last-child {
              border-bottom: none;
            }
          }
        }
  
        .details-btn {
          align-self: center;
          margin-top: 10px;
          background-color: #007bff;
          border-color: #007bff;
          color: #fff;
  
          &:hover {
            background-color: #0056b3;
            border-color: #004085;
          }
        }
      }
    }
  
    .no-results {
      text-align: center;
      margin-top: 4%;
      width: 100%;
      font-size: 2.3rem;
      color: rgb(19, 18, 18);
    }
    
  }
  